<main class="account-page">
    <div class="container">
        <div class="account-main">
            <div class="tab-account">
                <ul>
                    <li><a href="/account/login">Đăng nhập</a></li>
                    <li class="active"><a href="/account/signin">Đăng ký</a></li>
                </ul>
            </div>
            <div class="form-login">
                <form action="">
                    <div class="form-group">
                        <label for="lastName">Họ <span class="required">*</span></label>
                        <input type="text" class="form-control" id="lastName" placeholder="Nhập họ" required>
                        
                    </div>
                    <div class="form-group">
                        <label for="firstName">Tên <span class="required">*</span></label>
                        <input type="text" class="form-control" id="firstName" placeholder="Nhập tên" required>
                        <span class="error-messenger"></span>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber">Số Điện Thoại <span class="required">*</span></label>
                        <input type="text" class="form-control" id="phoneNumber" placeholder="Nhập số điện thoại" required>
                        
                    </div>
                    <div class="form-group">
                        <label for="email">Email <span class="required">*</span></label>
                        <input type="email" class="form-control" id="email" placeholder="Nhập email" required>
                        <span class="error-messenger"></span>
                    </div>
                    <div class="form-group">
                        <label for="password">Mật Khẩu <span class="required">*</span></label>
                        <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu" required>
                        <span class="error-messenger"></span>
                    </div>
                    <button type="submit" class="btn btn-dark">Đăng ký</button>
                </form>
            </div>
            <div class="line-break mt-4">
                <span>hoặc đăng ký bằng</span>
            </div>

            <div class="login-social-network mt-5 mb-5">
                <a href="javascript:void(0)" onclick="loginFacebook()" class="login-facebook"><img src="../../image/fb-btn.svg" alt=""></a>
                <a href="javascript:void(0)" class="login-google"><img src="../../image/gp-btn.svg" alt=""></a>
            </div>
        </div>
        
    </div>
</main>
<script>
    const txtInput = document.querySelectorAll('.form-group input');
    txtInput.forEach(function (item,index) {
        item.oninput = function () {
            if(item.value.trim() == '') {
                item.style.border = '1px solid red';
                if(item.parentNode.children[2]) {
                    item.parentNode.removeChild(item.parentNode.children[2]);}
                item.insertAdjacentHTML('afterend', '<span class="error-messenger">Không được để trống ở đây !</span>');
            } else {
                item.style.border = '1px solid #9cdab8';
                item.parentNode.removeChild(item.parentNode.children[2]);
            }
        }
    })
</script>