<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/app.css">

    {{!-- link font awaysome --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    {{!-- link themify --}}
    <link rel="stylesheet" href="../../themify-icons/themify-icons.css">
    {{!-- link bootstrap --}}
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    {{!-- link carousel --}}
    <link rel="stylesheet" href="../../owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../owlcarousel/assets/owl.theme.default.min.css">

    <title>Thu Pham Xanh</title>
</head>
<body>
        {{>header}}
        {{{body}}}
        {{>footer}}

{{!-- link boostrap --}}
<script src="../../bootstrap/js/jquery-3.6.0.min.js"></script>
<script src="../../bootstrap/js/bootstrap.min.js"></script>

{{!-- link carousel --}}
<script src="../../owlcarousel/owl.carousel.min.js"></script>
<script src="../../js/main.js"></script>


</body>
</html>